/* HEADER */

.header {
  @include position(0, 0, null, 0, fixed);
  z-index: 5;
  .header-desktop {
    margin-top: 48px;

    .icon-item {
      margin: 0 12px;
      :last-child {
        margin-right: 0px;
      }

      .header-account {
        color: #000;
        position: relative;
        .header-account-list {
          position: absolute;
          top: 100%;
          right: -50%;
          width: max-content;
          display: none;
          padding: 10px;
          .header-account-item {
            background-color: aliceblue;
            padding: 10px 15px;
            .account-link {
              display: block;
            }
            border: 1px solid #f4f4f4;
          }
        }
        &:hover .header-account-list {
          display: block;
        }
      }
    }
    .icon-link {
      cursor: pointer;
    }
  }
}

.header.header-change {
  .header-desktop {
    margin-top: 30px;
  }
  background-color: #333;
  color: white;
}

@media screen and (max-width: 768px) {
  .header {
    background-color: map-get($color, white);
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    padding: 20px 0;
  }

  .header-mobile-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .navbar-mobile-list {
    flex-direction: row-reverse;
  }
}
