$color: (
  primary: #fbb03b,
  greyLight: #f6f6f6,
  white: #fff,
  grey: #a8a8a8,
  greyDark: #c4c4c4,
  dark: #333,
  black: #000,
  red: #f00,
);

$font-family-base: 'Poppins', sans-serif;
$line-height-txt: 1.5;

$font-sizes: (
  xxs: 10px,
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 24px,
);

$font-weight: (
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700,
);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$icons: (
  search-w: url('../../../assets/icons/icon-search.svg'),
  search-b: url('../../../assets/icons/ic-search.svg'),
  cart-w: url('../../../assets/icons/icon-cart.svg'),
  cart-b: url('../../../assets/icons/ic-menu-mb.svg'),
  user-w: url('../../../assets/icons/icon-user.svg'),
  user-b: url('../../../assets/icons/ic-user-mb.svg'),
  truck-y: url('../../../assets/icons/ic-truck-yellow.svg'),
  truck-b: url('../../../assets/icons/ic-truck.svg'),
  smile-y: url('../../../assets/icons/ic-smile-yellow.svg'),
  payment-b: url('../../../assets/icons/ic-payment.svg'),
  payment-y: url('../../../assets/icons/ic-quality-hl.svg'),
  guarantee-y: url('../../../assets/icons/ic-guarantee-yellow.svg'),
  guarantee-b: url('../../../assets/icons/ic-guarantee.svg'),
  quality-y: url('../../../assets/icons/ic-quality-hl.svg'),
  quality-b: url('../../../assets/icons/ic-quality.svg'),
  trash-ouline: url('../../../assets/icons/ic-trash.svg'),
  close-b: url('../../../assets/icons/ic-close.svg'),
);

$image: (
  banner-bg: url('../../../assets/images/banner-bg.png'),
  banner-mb-bg: url('../../../assets/images/banner-mobile-bg.png'),
  footer-bg: url('../../../assets/images/footer-bg.png'),
  footer-mb-bg: url('../../../assets/images/footer-mobile-bg.png'),
);

$opacity-base: 0.5;

$p-col: 10px;
$p-col-sm: 4px;

$icon-size: 40px;
$icon-size-sm: 20px;
